body{
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0f2656;
}
header{
	border-bottom: 3px solid #f0f2f4;
	padding: 10px 0px;
}
.wrapper{
	overflow: hidden;
	width: 90%;
/*	border: 1px solid darkred;*/
	margin: 0 auto;

}
.logo{
	margin-top: 5px;
	width: 10%;
/*	border: 1px solid;*/
	float: left;
}
.logo a{
	display: block;

}
.logo a img{
	width: 100%;

}
.manu{
	width: 50%;
/*	border: 1px solid;*/
	float: right;

}
.manu ul{
	float: right;

}
.manu ul li{
	list-style: none;
	float: left;

}
.manu ul li a{
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	color: #0f2656;
	transition: .33s;
}
.manu ul li:last-child a{
	padding-right: 0;
}
.manu ul li a:hover{
	color: #008aff;
}
.banner{
	padding-top: 70px;
	text-align: center;
}
.wrapper2{
	margin: 0 auto;
	width: 50%;
	overflow: hidden;
/*	border: 1px solid teal;*/
}
.banner h1{
	margin: 0;
	font-size: 50px;
	font-weight: 700;
	padding: 0 30px;
	line-height: 60px;
}
.banner h1 span{
	color: #008aff;
}
.banner p{
	margin: 10px 0 20px;
	line-height: 25px;
}
.b_img{}
.b_img img{}


.feature{
	padding-top: 70px;
}
.f_left{
	width: 40%;
/*	border: 1px solid darkred;*/
	float: left;
	text-align: right;
}
.f_left h2{
	margin: 0;
	font-size: 35px;
	font-weight: 700;
	color: #f15767;
}
.f_left p{
	margin: 10px 0 0;
	line-height: 25px;
}
.f_right{
	width: 55%;
/*	border: 1px solid darkred;*/
	float: right;
}
.f_right h1{
	margin: 0;
	font-size: 45px;
	font-weight: 700;
}

.service{
	padding: 70px 0;
}
.s_item{
	float: left;
	width: 28%;
/*	border: 1px solid darkred;*/
	margin-right: 2%;
	padding: 20px 2% 50px;
}
.s_item:last-child{
	margin-right: 0;
}
.pink{
	background-color: #fdebed;
}
.green{
	background-color: #ebf9f4;
}
.yellow{
	background-color: #fff7e8;
}
.s_img{}
.s_img img{
	width: 100&;
}
.s_item h2{
	margin: 10px 0;
	font-size: 22px;
	font-weight: 700;
}
.s_item p{
	margin: 0;
	line-height: 25px;
}
footer{
	background-color: #008aff;
	padding: 20px 0;
	text-align: center;
}
footer p{
	margin: 0;
	color: white;
}
footer p a{
	font-size: 17px;
	font-weight: 700;
	color: white;
	text-decoration: none;
}